@import "tailwindcss";

@source "../../**/*.md";
@source "../**/*.{js,ts,vue}";

@font-face {
  font-family: "Sohne";
  src: url("/fonts/Sohne-Buch.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  src: url("/fonts/Sohne-Kraftig.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --font-sans: "Sohne", system-ui, sans-serif;
  }

  body {
    font-family: var(--font-sans);
  }
}
